body {
    background-color: transparent !important
}

.marginRight {
    margin-right: 2rem;
}

.centered-medium-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    width: 500px;
    height: min-content;
    border: 1px solid rgb(0 0 0 / 25%);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 5px 5px lightgray;
}

html {
    background-image: url(./img/stickynotes.jpg);
    background-size: cover; 
    background-repeat: repeat-y;
    text-align:center;
    margin:auto;
    padding:0;
}

.strikethrough {
    text-decoration: line-through;
}