/* .App {
width: 50vw;
height: 50vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2rem;
border: solid 2px red;
margin-left: auto;
margin-right: auto;
}

.inputMolecule {
    display: flex;
    margin-bottom: 3rem;
} */

.marginRight {
    margin-right: 2rem;
}

.centered-medium-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 500px;
    height: min-content;
}